header {
    background-color: beiges;
}

form {
    background-color: beige;
    border: .2em ivorys solid;
    padding: 3em;
    margin: 5em;

}

.container {
    background-color: beige;
    border: .2em ivory solid;
    padding: 3em;
    margin: 5em;   
    margin-top: 0em;
}


.img-fluid {
   padding: 2px;
   margin: 4px;
}

.container-head, .form-head {
    background-color: beige;
    border-bottom: 2px ivory solid;
    margin: 10px;
}

footer {
    background-color: beige;
    border-top: 3px ivory solid;
}
